@using ViewsExample.Models;
@{
    string appdemo = "title of Page";

           
}
@model List<Person>;


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="myapp">@appdemo</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
 <div class="page-content">

        <h1>
       Persons 
        
    </h1>
    @* @Html.Raw(alertMessage); *@
        @{
            // List<Person> people = (List<Person>?)ViewData["people"];
        }
        @foreach (Person person in Model)
    {
        <div class="box float-left w-50">

                <h3>@person.Name</h3>
            
                <table class="table w-100">

                    <tbody>

    <tr>
        <td>Gender</td>
        <td>@person.PersonGender</td>
    </tr>
    <tr>
        @if(person.DateOfBirth.HasValue){
                                
               <td>Date of Birth</td>

        <td>@person.DateOfBirth.Value.ToString("dd/MM/yyy")</td>
                            }
    
                        </tr>
    
                    </tbody>
</table>
<div>

<a href="/person-details/@person.Name">Go To Person Page</a>
</div>
              
                <div>
                <a href="/Person-with-product">Person With Product</a>

                </div>
        </div>
    }

 </div>

</body>
</html>